<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionLoaderService" class="ru.agafonov.otus.springannotation.service.impl.QuestionCsvLoaderService">
        <constructor-arg name="pathToCsv" value="question-list.csv"/>

    </bean>
    <bean id="surveyService" class="ru.agafonov.otus.springannotation.service.impl.SurveyServiceImpl">
        <constructor-arg name="loader" ref="questionLoaderService"/>

    </bean>
</beans>